
<h3>Edit Player</h3>
<form [formGroup]="profileForm" (ngSubmit) = "editPlayer()">
<input type="number" formControlName="id"  class="form-control" placeholder="" aria-describedby="helpId" hidden="true">
  <small id="helpId" class="text-muted">name</small>
  <input type="text" formControlName="name" class="form-control" placeholder="" aria-describedby="helpId">
  <small id="helpId" class="text-muted">birth date</small>
  <input type="date" formControlName="birth"  class="form-control" placeholder="" aria-describedby="helpId">
  <small id="helpId" class="text-muted">highestScore</small>
  <input type="number"  formControlName="highestScore" class="form-control" placeholder="" aria-describedby="helpId">
  
  <br>
<button type="submit" class="btn btn-primary">Add</button>
</form>
